<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SymBnB - {% block title %}Welcome!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" integrity="sha256-YE3PHxFphlX3UEa7kvmKqpR34cFrAcX8QV54eUOT/7k=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/app.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'admin/partials/header.html.twig' %}

{% block body %}{% endblock %}
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>

{% include 'admin/partials/footer.html.twig' %}
</html>
