{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce {{ ad.title }}{% endblock %}

{% block stylesheets %}
    {# bootstrapt datepicker uxsolutions#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réservez pour l'annonce : <em>{{ ad.title }}</em></h1>

        <p>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong>, dites nous tout, on s'ouccupe du reste !</p>

        {{ form_start(form) }}
        <div class="alert alert-light">
            <h4>Commencez par nous dire quelles sont les dates qui vous intéressent !</h4>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <h4 class="mt-2">Montant du séjour : <span id="amount">...</span> &euro;</h4>
            <span id="days">0</span> nuit(s) à {{ ad.price | number_format(2, ',', ' ') }} &euro; par nuit

            <h4 class="mt-3">Vous avez un commentaire ?</h4>
            {{ form_row(form.comment) }}
        </div>


        <h2>Vous avez terminé !</h2>
        <button type="submit" class="btn btn-success">Je réserve</button>

        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {# bootstrapt datepicker uxsolutions#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#booking_startDate, #booking_endDate').datepicker({
                format: "dd/mm/yyyy",
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date() //interdit de réserver avant la date d'aujourd'hui
            });

            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);

        });

        function calculateAmount() {
            //Récupération des dates, en convertissant à la volée une date fr (dd/mm/YYYY) en date américaine (YYYY-mm-dd) pour qu'elle soit gérable par les objets JS Date()
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            if (startDate && endDate && startDate < endDate) {
                //nombre de millisecondes dans un jour
                const DAY_TIME = 24 * 60 * 60 * 1000;
                //soustraction de timeStamps
                const interval = endDate.getTime() - startDate.getTime();
                //nb de jours dans l'interval séléctionné par l'utilisateur
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};
                //mise à jour du span contenant le nombre de jour réservés
                $('#days').text(days);
                //mise à jour du montant, avec la méthode toLocaleString() appelable sur les number, qui permet d'afficher ici des virgules à la place des points
                $('#amount').text(amount.toLocaleString('fr-FR'));

            }
        }

        console.log(new Date());
    </script>
{% endblock %}
