div.container, .container-fluid {
    margin-top: 20px;
}

div.add-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;/* centré horizontal et vertical */
}

div.add-title h1, div.add-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.add-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 30px;
    max-height: 30px;
}

.avatar-micro {
    max-width: 25px;
    max-height: 25px;
}

/* date désactivées du datepicker*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}