{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n° {{ comment.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification du commentaire n° {{ comment.id }}</h1>

        <div class="alert alert-info mb-3">
            <p><strong>Annonce liée : </strong>{{ comment.ad.title }}</p>
            <p><strong>Auteur : </strong>{{ comment.author.fullName }}</p>
            <p><strong>Date de création : </strong>{{ comment.createdAt | date('d/m/Y H:i') }}</p>
            <p><strong>Note donnée : </strong>{{ comment.rating }}</p>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
            Enregistrer les modifications
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
