{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des commentaires</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th class="text-center">Note</th>
                <th>Annonce</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for comment in pagination.data %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.createdAt | date('d/m/Y H:i') }}</td>
                    <td>
                        <img src="{{ comment.author.picture }}" alt="Avatar de {{ comment.author.fullName }}" class="avatar avatar-micro mr-2">
                        {{ comment.author.fullName }}
                    </td>
                    <td>{{ comment.content }}</td>
                    <td class="text-center">
                        <span class="badge badge-primary rounded">
                            {{ comment.rating}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{ comment.ad.title }}
                        </span>
                    </td>
                    <td>
                        <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_comments_delete', {'id': comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
