{# défintion de l'affichage du champ ad_images #}
{# est appelé à chaque fois que form_widget est appelé sur "annonce_images" #}
{% block _annonce_images_widget %}
    <p>Ici vous pouvez ajouter vos propres images</p>
    {# cette variable 'form' n'est pas la variable form globale, mais le champ lui-même #}
    {{ form_widget(form) }}
    {# un champ qui n'a pas de name n'est pas envoyé au serveur, celui-ci pourra donc être utilisé pour compter les images#}
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Ajouter une image
        </button>
    </div>
{% endblock %}

{# permet de restreindre l'appel de la row à l'appel du widget, qui correspond au label et au champ #}
{% block _annonce_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{# définition de l'affichage des entrées de la collection#}
{% block _annonce_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}"> {#id est une variable fournie par twig, correspondant ici à "annonce_images_[index_de_l_image]"#}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}