{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block body %}
    <div class="container">
        <h1>Vous n'avez pas le droit d'accéder à cette ressource</h1>
        <div class="alert alert-danger">
            <p>{{ exception.message }}</p>
            <p>Merci de retourner sur le site à l'aide des liens suivant</p>
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-primary">Liste des nos annonces</a>

    </div>
{% endblock %}