{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups! La page que vous recherchez n'existe pas !</h1>
        <p>On a surement du mal vous renseigner, vous pouvez retourner à la page d'accueil</p>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-primary">Liste des nos annonces</a>

    </div>
{% endblock %}